chromadb
Pillow<11.0.0
pillow-heif
sentence-transformers
torch
numpy<2
openai
watchdog
fastapi
uvicorn
python-multipart
sentencepiece
protobuf
accelerate
# insightface
# onnxruntime-gpu
scikit-learn
reverse_geocoder
google-generativeai
pywebview
pyinstaller
